<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Author: {{ author.name }}</title>
</head>
<body>
<a href="{% url 'ebook-manager:index' %}">Home</a>

<h1 style="text-align:center">{{ author.name }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<h2>Books</h2>
<ul>
    {% for book in author.books.all %}
        <li><a href="{% url 'ebook-manager:book_detail' book.book_id %}">{{ book.title }} ({{ book.pub_year }})</a></li>
    {% endfor %}
</ul>
</body>
</html>