{% extends "ebook_manager/base_others.html" %}

{% block title %} Author: {{ author.name }} {% endblock %}

{% block heading-1 %} {{ author.name }} {% endblock %}

{% block content-others %}
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <div style="margin-left:20px">
        <h2>Books</h2>
        <ul>
            {% for book in author.books.all %}
                <li><a href="{% url 'ebook-manager:book_detail' book.book_id %}">{{ book.title }} ({{ book.pub_year }})</a></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}