<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book ratings</title>
</head>
<body>
<a href="{% url 'ebook-manager:index' %}">Home</a>

<h1 style="text-align:center">{{ book.title }} ({{ book.pub_year }})</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<h2>Ratings</h2>
<ul>
{% for rating in book.rating_set.all %}
    <li><b>{{ rating.get_source_display }}:</b> {{  rating.avg_rating|floatformat:-1 }}/5 with {{ rating.nb_ratings }} rating{{ rating.nb_ratings|pluralize }}</li>
{% endfor %}
</ul>
<div style="padding-left:40px;">
<form action="{% url 'ebook-manager:rate' book.book_id %}" method="post">
    {% csrf_token %}
    <label for="id_rating"><b>Personal rating:</b></label><br>
    <input type="number" name="rating" id="id_rating" min="1" max="5">
    <br>
    <input type="submit" value="Rate">
</form>
</div>
</body>
</html>