{% extends "ebook_manager/base_others.html" %}

{% block title %}Book: {{ book.title }} {% endblock %}

{% block heading-1 %} {{ book.title }} ({{ book.pub_year }}){% endblock %}

{% block content-others %}
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <h2>Authors</h2>
    <ul>
    {% for author in book.authors.all %}
        <li><a href="{% url 'ebook-manager:author_detail' author.slug_name %}">{{ author.name }}</a></li>
    {% endfor %}
    </ul>

    <h2>Ratings</h2>
    <ul>
        {% for rating in book.rating_set.all %}
            <li><b>{{ rating.get_source_display }}:</b>
                {% if rating.get_source_display == 'User' %}
                    <a href="{% url 'ebook-manager:book_ratings' book.book_id %}">{{ rating.user_rating|floatformat:-1 }}/5</a>
                {% else %}
                    {{ rating.avg_rating|floatformat:-1 }}/5  with {{ rating.nb_ratings }} rating{{ rating.nb_ratings|pluralize }}
                {% endif %}
            </li>
        {% empty %}
            <p>No ratings are available.</p>
        {% endfor %}
    </ul>

    {% comment %}
    <div style="margin-left:40px;">
    <a href="{% url 'ebook-manager:book_ratings' book.book_id %}">Rate</a>
    </div>
    {% endcomment %}

    <h2>Plot summary</h2>
    <div style="margin-bottom:130px;">{% lorem 2 p %}</div>
{% endblock %}
