{% extends "ebook_manager/base.html" %}

{% block title %}Ebook-Manager Homepage{% endblock %}

{% block heading-1 %}Ebooks{% endblock %}

{% block content-index %}
<div class="bd-example">
    <ul class="list-unstyled">
    {% for book in book_list %}
        <li class="media my-4">
            <svg class="bd-placeholder-img mr-3" width="64" height="64" xmlns="http://www.w3.org/2000/svg"
                 preserveAspectRatio="xMidYMid slice" focusable="false" role="img"
                 aria-label="Placeholder: 64x64"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect>
                <text x="50%" y="50%" fill="#dee2e6" dy=".3em">64x64</text></svg>
            <div class="media-body">
                <h4 class="mt-0 mb-1"><a href="{% url 'ebook-manager:book_detail' book.book_id %}">{{ book.title }}</a></h4>
                <h5>{{ book.pub_year }}</h5>
                <div>By
                    {% for author in book.authors.all %}
                        <a href="{% url 'ebook-manager:author_detail' author.slug_name %}">{{ author.name }}</a>
                        {% if not forloop.last %}
                            ,
                        {% endif %}
                    {% endfor %}
                </div>
                <div>
                    {% for rating in book.rating_set.all %}
                        <b>{{ rating.get_source_display }}:</b>
                        {% if rating.get_source_display == 'User' %}
                            <a href="{% url 'ebook-manager:book_ratings' book.book_id %}">{{ rating.user_rating|floatformat:-1 }}/5</a>
                        {% else %}
                            {{ rating.avg_rating|floatformat:-1 }}/5 with {{ rating.nb_ratings }} rating{{ rating.nb_ratings|pluralize }}
                        {% endif %}
                        {% if not forloop.last %} , {% endif %}
                    {% endfor %}
                </div>
                <p>{% lorem %}</p>
            </div>
        </li>
    </ul>
    {% empty %}
        <p>No books are available.</p>
    {% endfor %}
</div>
{% endblock %}
