{% extends "ebook_manager/base_others.html" %}

{% block title %}Upload ebooks {% endblock %}

{% block heading-1 %} Upload ebooks {% endblock %}

{% block content-others %}
<form action="{% url 'ebook-manager:upload_submit_form' %}" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <div style="text-align: center" class="form-group">
      <label for="UploadFiles"></label>
      <input style="text-align: center" type="file" name="files" class="form-control-file" id="UploadFiles" multiple>
      <br/>
      <input type="submit" value="Upload">
  </div>
</form>
{% endblock %}